<section>
    <article>
        <h3>Welcome to our Quiz Game!</h3>
    </article>
    <article>
        <span class="subtitle">
            This quiz will test your knowledge about 10 different categories:
        </span>
            <ul class="flex-container">
                <li class="flex-item">Animals</li>
                <li class="flex-item">Art</li>
                <li class="flex-item">ComputerScience</li>
                <li class="flex-item">Food</li>
                <li class="flex-item">Geography</li>
                <li class="flex-item">History</li>
                <li class="flex-item">Movies</li>
                <li class="flex-item">PopCulture</li>
                <li class="flex-item">Technology</li>
                <li class="flex-item">Sports</li>
                <li class="flex-item">
                    <button class="primary" routerLink="/quiz">
                        Start Quiz!
                    </button>
                </li>
            </ul>
    </article>
</section>