<div [ngClass]="{'modal-overlay' : isModalVisible}">

<div class="card">
    <div class='row'>
        <div class='column'>
            <div>
                <h2>Category: {{ question ? question.category : 'nada'}}</h2>
                <h3>Time left: {{ !question.isAnswered ? questionTimer : '0' }} seconds.</h3>
                <div>{{ question.content }}</div>
                <ul>
                    <li *ngFor="let questionAnswer of question.possibleAnswers; let i = index;">
                        <input type="radio" name="possibleAnswer" [id]="questionIds[i] + i" [value]="questionAnswer"
                            [checked]="isRadioButtonClear" (input)="onInput(questionAnswer)" [disabled]="question.isAnswered || isModalVisible" />
                        <label [for]="questionIds[i] + i">
                            <strong>{{ questionIds[i] }}.</strong>
                            {{ questionAnswer }}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="question.isAnswered" class="alert-box" [@fadeInOut]>
            <div *ngIf="currentSelectedAnswer === question.answer; else wronganswer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" width="240px" height="240px"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
            </div>
            <ng-template #wronganswer>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" width="240px" height="240"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
                </div>
            </ng-template>
        </div>
    </div>
</div>

</div>

<button class="action-button secondary"
        [disabled]="!isRadioButtonChecked || question.isAnswered"
        [ngClass]="{'hidden-element' : isModalVisible, 'disabled-btn' : !isRadioButtonChecked || question.isAnswered }"
        (click)="toggleModal()">Check Answer
</button>

<div [ngClass]="{
    'modal-container': isModalVisible,
    'hidden-element' : !isModalVisible}">  
    <div id="id01">
      <div class="modal-content">
        <div class="container">
            <h2>Confirm selected answer</h2>
          <button (click)="onCompleteQuestion()" class="action-button secondary">Yes, Confirm</button>
          <button (click)="toggleModal()" class="action-button tertiary">No, let me go back</button>
        </div>
      </div>
    </div>
</div>