body {
    margin: 0.25em;
    padding: 0.25em;
    font-family: 'Roboto', sans-serif;
}

.subtitle {
    text-align: center;
    display: block
}

.primary {
    border-radius: 10px;
    background: #5ce500;
    color: white;
    line-height: 2em;
    border: 1px solid #dddddd;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;

    &:hover{
        background: tomato;
        border: none;
    }
}

.secondary {
    border-radius: 10px;
    background: #5ce500;
    color: white;
    line-height: 2em;
    border: 1px solid #dddddd;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
    &:hover{
        background: tomato;
        border: none;
    }
}

.tertiary {
    border-radius: 10px;
    background: #e79315;
    color: white;
    line-height: 2em;
    border: 1px solid #dddddd;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
    position: absolute;

    &:hover{
        background: tomato;
        border: none;
    }
}

.disabled-btn {
    cursor: not-allowed;
    background-color: gray;
}

.hidden-element {
    display: none;
  }
  