@import './variables.scss';

body {
    margin: 0.25em;
    padding: 0.25em;
    font-family: 'Roboto', sans-serif;
}

.subtitle {
    text-align: center;
    display: block
}


.action-button {
    border-radius: 10px;
    color: $white;
    line-height: 2em;
    border: 1px solid $softgray;
    font-weight: bold;
    font-size: 1em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
    outline: none;

    &.primary {
        background: $green;
        font-size: 1.5em;
        &:hover{
            background: $tomato;
            border: none;
        }
    }

    &.secondary {
        background: $green;
        &:hover{
            background: $tomato;
            border: none;
        }
        &.disabled-btn {
            cursor: not-allowed;
            background-color: $gray;
        }
    }

    &.tertiary {
        background: $orange;
        position: absolute;
        &:hover{
            background: $tomato;
            border: none;
        }
    }
}



.hidden-element {
    display: none;
  }
  