<h2>
    Welcome to QuizTime.
</h2>
<div>
    <p>QuizTime is a multiple choice trivia game that asks you questions from various categories.</p>
    <p>Each quiz consists of five random questions from five different categories.</p>
    <p>Each question has four answers to choose from, but only one correct answer.</p>
    <p>Once you open a question, a timer starts to count down. You have 45 seconds to submit your answer.
        If you don't submit your answer and the timer reaches zero, the question is automatically marked as wrong.
    </p>
    <p>You can view your scores in the <strong>Results</strong> tab.</p>
    <p>Enjoy!</p>
</div>

<h5>Built with Angular and Dotnet5</h5>